*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%
    min-width desktop-base-width + 60px

::selection
    background black
    color #fff

::-moz-selection
    background black
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto

body
    &:after
        content $img('facebook2.png') $img('twitter2.png') $img('seta2.png') // preload images
        display none