// Responsive
desktop-base-width     = 1080px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 710px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$cinza = #5a6166
$azul  = #2299c0

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700')
raleway($size, $weight = normal)
    font-size $size + 0px
    font-family 'Raleway', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700')
oswald($size, $weight = normal)
    font-size $size + 0px
    font-family 'Oswald', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400italic')
playfair($size)
    font-size $size + 0px
    font-family 'Playfair Display', 'Georgia', 'Times', 'Times New Roman', serif
    font-weight 400
    font-style italic