header
    width 100%
    padding-top 55px
    margin-bottom 55px
    clearfix()
    h1
        width 320px
        height 85px
        float left
        margin 0
        a
            display block
            width 100%
            height 100%
            text-indent -9999px
            background $img('logo-mariana.png') no-repeat center
    nav
        float right
        height 85px
        a
            line-height 85px
            oswald 16
            color #b5b9bb
            text-transform uppercase
            text-decoration none
            transition color .3s
            margin-left 20px
            &:hover, &.active
                color #47b6da

main
    clearfix()
    > section
        width 740px
        float left
    h1.not-found
        background #F3F3F3
        margin 0
        padding 74px 0
        text-align center
        span
            display inline-block
            padding 15px
            border 2px solid $azul
            oswald 14
            text-transform uppercase
            color $cinza
            strong
                font-weight normal
                color $azul
    > aside
        width 340px
        float left
        background $cinza
        h3
            oswald 20
            color #fff
            padding-bottom 5px
            text-transform uppercase
            margin 0 0 20px
            position relative
            &:after
                content ""
                position absolute
                height 1px
                width 80px
                left -40px
                bottom 0
                background #fff
        > div
            padding 30px 40px
            clearfix()
        > .facebook
            padding 20px
        .busca
            padding 0
            position relative
            margin-bottom 25px
            form
                width 100%
                height 50px
                input[type=text]
                    position absolute
                    width 100%
                    height 100%
                    border 0
                    background transparent
                    outline 0
                    padding 0 50px 0 20px
                    oswald 15
                    color rgba(#fff, .8)
                    transition background .3s
                    &:focus
                        background $azul
                input[type=submit]
                    position absolute
                    height 100%
                    width 50px
                    border 0
                    outline 0
                    top 0
                    right 0
                    z-index 2
                    background $img('busca.png') no-repeat center
        ::-webkit-input-placeholder
            color rgba(#fff, .5)
        :-moz-placeholder
            color rgba(#fff, .5)
        ::-moz-placeholder
            color rgba(#fff, .5)
        :-ms-input-placeholder
            color rgba(#fff, .5)
        .newsletter
            padding 0
            form
                width 100%
                input
                    width 100%
                    oswald 15
                    border 0
                    outline 0
                    &[type=email]
                        background #424649
                        padding 10px 20px
                        color rgba(#fff, .8)
                    &[type=submit]
                        background $azul
                        padding 8px
                        color rgba(#fff, .5)
                        transition background .3s
                        &:hover
                            background darken($azul, 5)
            .response-wrapper
                width 100%
                #response-newsletter
                    display none
                    height 30px
                    line-height 30px
                    oswald 12
                    text-align center
                    color rgba(#fff, .5)
                    background #424649
        .social
            text-align center
            padding 15px 0 20px
            a
                display inline-block
                color #fff
                oswald 15
                text-decoration none
                transition background-image .3s
                background-position left top
                background-repeat no-repeat
                span
                    display block
                    padding-left 50px
                    text-align left
                &.facebook
                    background-image $img('facebook1.png')
                    &:hover
                        background-image $img('facebook2.png')
                &.twitter
                    margin-left 20px
                    background-image $img('twitter1.png')
                    &:hover
                        background-image $img('twitter2.png')
        .categorias
            a
                display table
                float left
                width 50%
                height 130px
                color #fff
                oswald 15
                padding 0 5%
                text-transform uppercase
                text-align center
                text-decoration none
                background $azul
                &:nth-of-type(4n + 1),
                &:nth-of-type(4n + 4)
                    background #3c3f41
                &:hover span, &.active span
                    text-decoration underline
                span
                    display table-cell
                    vertical-align middle
        .mais-comentados
            a
                display block
                oswald 15
                color #fff
                transition color .3s
                text-transform uppercase
                text-decoration none
                margin-bottom 20px
                img
                    display block
                    margin-bottom 10px
                &:hover
                    color $azul

footer
    width 100%
    margin-top 90px
    .leia-tambem
        background $cinza
        padding 40px 0
        clearfix()
        h2
            margin 0 0 30px
            color #66d3f6
            oswald 20
            position relative
            padding-bottom 5px
            &:after
                content ""
                position absolute
                width 30px
                height 1px
                background #fff
                bottom 0
                left 0
        a
            display block
            width 22%
            float left
            color #fff
            oswald 15
            text-transform uppercase
            text-decoration none
            margin-right 4%
            transition color .3s
            &:hover
                color #66d3f6
            &:last-child
                margin-right 0
    .copyright
        background $azul
        text-align center
        padding 70px 0
        img
            display inline-block
            margin-bottom 30px
        p
            color rgba(#000, .5)
            raleway 12
            &:last-child
                raleway 11
            a
                color rgba(#000, .5)
                text-decoration none
                transition color .3s
                &:hover
                    color rgba(#fff, .5)

.destaques
    clearfix()
    margin-bottom 40px
    a
        display block
        width 270px
        height 430px
        float left
        overflow hidden
        position relative
        &:hover .overlay
            opacity 1
        .overlay
            position absolute
            display table
            width 100%
            height 100%
            top 0
            left 0
            transition opacity .3s
            opacity 0
            background rgba(#F3F3F3, .9)
            .titulo
                display table-cell
                vertical-align middle
                padding 0 40px
                h4
                    color $azul
                    margin 0
                    playfair 17
                h3
                    margin 5px 0 0
                    oswald 19
                    color $cinza
                    text-transform uppercase
            span
                display block
                width 100%
                position absolute
                bottom 15px
                padding-bottom 8px
                left 0
                text-align center
                color $cinza
                playfair 15
                &:after
                    content ""
                    position absolute
                    bottom 0
                    left 50%
                    margin-left -3px
                    width 5px
                    height 3px
                    background $img('seta2.png') no-repeat center