.artigos-lista
    .post
        display block
        background #F3F3F3
        margin-bottom 45px
        text-decoration none
        clearfix()
        img
            display block
            margin-bottom 35px
        h2
            position relative
            oswald 35
            color $cinza
            text-transform uppercase
            padding 0 25px 30px 25px
            line-height 1.3
            margin 0 0 25px
            transition color .3s
            &:after
                content ""
                position absolute
                width 715px
                height 1px
                bottom 0
                left 25px
                background rgba($cinza, .6)
        p
            margin 0
            padding 0 25px
            raleway 18
            color $cinza
        .leia-mais
            position relative
            display block
            width 100%
            text-align center
            playfair 20
            color $cinza
            margin-top 30px
            margin-bottom 30px
            padding-bottom 6px
            transition color .3s
            &:after
                content ""
                position absolute
                bottom 0
                left 50%
                margin-left -3px
                width 5px
                height 3px
                background $img('seta1.png') no-repeat center
                transition background .3s
        &:hover
            h2
                color $azul
            .leia-mais
                color $azul
                &:after
                    background $img('seta2.png') no-repeat center

.artigos-post
    .post
        margin-bottom 70px
        img
            display block
            margin-bottom 35px
        h2
            position relative
            oswald 35
            color $cinza
            text-transform uppercase
            padding 0 25px 25px 25px
            line-height 1.3
            margin 0
            transition color .3s
        .informacoes
            position relative
            padding 0 25px 15px 0
            margin-bottom 25px
            margin-left 25px
            clearfix()
            border-bottom 1px solid rgba($cinza, .6)
            .data
                display block
                float left
                oswald 13
                color #A6A6A6
                padding-left 20px
                background $img('calendario.png') center left no-repeat
            .twitter-share-button
                float left
                margin-left 15px
            .fb-like
                float left
                margin-left 15px
        .texto
            margin 0
            padding 0 25px
            raleway 18
            color $cinza
            a
                color $azul
                transition color .3s
                &:hover
                    color darken($azul, 10)
    .comentarios
        margin-bottom 40px
        h3
            playfair 22
            color $cinza
            margin 0 0 15px
            padding 0 25px
        .comentario
            background #F3F3F3
            margin-bottom 6px
            padding 25px
            p
                margin 0
                raleway 15
                color $cinza
                &.autor
                    oswald 16
                    text-transform uppercase
                    margin-bottom 5px
                    span
                        color $azul
    #form-comentario
        width 100%
        h3
            playfair 22
            color $cinza
            margin 0 0 15px
            padding 0 25px
        input
        textarea
            width 100%
            border 0
            outline 0
            background #F3F3F3
            padding 12px 25px
            margin-bottom 2px
            raleway 15
            color $cinza
            &#autor
                width 369px
                float left
            &#comentario_email
                width 369px
                float right
            &[type=submit]
                padding 6px
                background $azul
                color #fff
                playfair 18
                transition background .3s
                margin-bottom 10px
                &:hover
                    background darken($azul, 10)
        textarea
            resize vertical
            height 120px
        #response-comentario
            display none
            background #F3F3F3
            padding 10px 25px
            text-align center
            p
                margin 0
                color $azul
                playfair 18
                padding 15px
                &.error
                    raleway 13
                    font-style normal
                    color red
                    padding 0

.paginacao ul
    list-style-type none
    width 100%
    margin 0 auto
    padding 0 40px
    li
        &:first-child
            float left
        &:last-child
            float right
        &.disabled
            display none
        a
            playfair 16
            color $cinza
            text-decoration none
            transition color .3s
            &:hover
                color $azul