.contato
    padding-right 25px
    form
        clearfix()
        ::-webkit-input-placeholder
            color rgba(#fff, .5)
        :-moz-placeholder
            color rgba(#fff, .5)
        ::-moz-placeholder
           color rgba(#fff, .5)
        :-ms-input-placeholder
            color rgba(#fff, .5)
        input
        textarea
            width 100%
            border 0
            outline 0
            background $azul
            margin-bottom 5px
            raleway 15
            padding 12px
            color rgba(#fff, .8)
        textarea
            resize vertical
            height 150px
        input[type=submit]
            display inline-block
            background $cinza
            playfair 14
            color #fff
            float right
            width auto
            padding 5px 35px
        #response-contato
            display inline-block
            float left
            raleway 14
            color $cinza
            padding 8px 0 3px
            border-bottom 1px solid $azul
            &.error
                border-bottom 1px solid red
     .informacoes
        margin 35px 0
        a
            color $cinza
            text-decoration none
            raleway 18
            transition color .3s
            &:hover
                color $azul
        p
            color $cinza
            raleway 18
            &.telefones
                raleway 30
                margin .5em 0
    .googlemaps iframe
        width 100%
        height 430px