.perfil
    .texto
        width 415px
        float left
        color $cinza
        raleway 18
        line-height 1.5
        *:first-child
            margin-top 0
    .imagem
        width 290px
        float right